<div class="header">
    
    <div id="branding">
        <h1><span class="highlight">Movie</span>Nites</h1>
    </div>
    <!-- <app-search-bar (searchQueryChange)="searchMovie($event)"></app-search-bar> -->
    <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/wishlist">
            <span>
                <i class="fa fa-heart " style="color: #e4e5e7;"></i> 
            <span class="favs">{{favListCount$ | async}}</span>
            </span>
        </a></li>
        <li><a routerLink="/recommendations">Recommendation</a></li>
    </ul>
</div>


<a class="nav-link dropdown-toggle" routerLink="/wishlist" >
    
</a>