body{
    display: block;
    padding: 0;
    margin: 0;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background: linear-gradient(100deg,grey, green);
    background-size: cover;
}
.container{
    width: 80%;
    overflow: hidden;
    margin-left: 20px;
}
/*header*/

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s; /* Smooth color transition */
}
  
 
  
nav ul li a:active {
    color: green; /* Gray color for visited links */
}
  


header{
    background: black;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: rgb(87, 151, 87) 3px solid;
}
header a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header ul{
    margin-left: 6px;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight{
    color: green;
    font-weight: bold;
}
header a:hover{
    color: palevioletred;
    font-weight: bold;
}
header h1{
    text-shadow: 2px 2px 2px black;
    font-size: 40px;
} 

.filters{
    right: 35%;
    position: absolute;
    bottom: 50%;
    display: flex;
    align-content: space-around;
    gap: 0.5rem;
}
#movieNameInput{
    border-radius: 20px;
    width: 250px;
    height: 30px;
    text-align: center;
    border: solid black 2px;
    color: black;
    margin-left: 50px;   
}
#movieNameInput:hover{
    background-color:wheat;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/*Movie card*/

.movieItem, .wishlistItem {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin: 7px;
    background: rgb(219, 216, 216);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
.wishlistItem button{
    border-radius: 10px;
    border: 1.2px green solid;
    cursor: pointer;
    width: 40px;
    color: green;
    padding: 2.5px;

}
.wishlistItem:hover{
    transform: scale(1.05);
}
.wishlistItem button:hover{
    background-color: green;
    color: white;
    font-weight: bold;
}
.wishlistItem .buttons, p{
    color: black;
}
.movieItem:hover{
    scale: 1.07; 
    
}
.movieItem h3{
    text-align: center;
}
.movieItem .buttons, p,img{
    text-align: center;
}
.movieItem img{
    height: auto;
    width: 180px;
}

.movieItem button{
    width: 40px;
    border-radius: 10px;
    border: 1.2px green solid;
    cursor: pointer;
    color: green;
    padding: 2.5px;
}
.movieItem button a{
    text-decoration: none;
    color: green;
}
.movieItem button:hover{
    background-color: green;
    color:white;
    font-weight: bold;
}
.movieItem button a:hover{
    font-weight: bold;
    color: white;
}
#searchResultContainer, #wishlistContainer,#recommendationContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    padding: 10px; 
}
.wishlistItem .buttons button a{
    text-decoration: none;
    color:green;

}

#_more a{ 
    text-decoration: none;
    color: black;
}
/*---------------------slideshow----------------------*/
/* #imageshow img{
    height: 250px;
} */
/*footer*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container3 {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    color: white;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: green;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/* Responsive */
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
/*---------loader-------*/
/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }
  .sidebar {
    width: 200px;
    background-color: black;
    
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }








