<!-- 
<div *ngIf="loading; else moviesList">
  <p>Loading...</p>
</div> -->
<!-- <ng-template #moviesList>
  <app-movies [movies]="movies" (addToWishlist)="addToWishlist($event)"></app-movies>
  <app-wishlist [wishlist]="wishlist" (removeFromWishlist)="removeFromWishlist($event)"></app-wishlist>
  <app-recommendation [recommendedMovies]="recommendedMovies"></app-recommendation> -->
<!-- </ng-template> -->
<header>
        <div class="container">
          <div id="branding">
            <h1><span class="highlight">Movie</span>Nites</h1>
          </div>
          <app-search-bar (searchQueryChange)="searchMovie($event)"></app-search-bar>
           <nav>
                <ul>
                    <li><a routerLink="home">Home</a></li>
                    <li><a routerLink="wishlist">WishList</a></li>
                    <li><a routerLink="recommendations">Recommendation</a></li>
                </ul>
           </nav>
        </div>   
    </header>


    <!-- <div id="imageshow"></div> -->

    
    <footer class="footer">
        <div class="container3">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="./about.html">Developers</a></li>
                        <li><a href="#">Our services</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow us</h4>
                    <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
