<div class="movieSearch" class=" row justify-center ">
  <app-search-bar class=" w-50 mx-auto" (searchChange)="onSearchChange($event)"></app-search-bar>
</div>


  <div *ngIf="showMainList" class="movieList">
    <!-- Main Movie List -->
    <div *ngFor="let movie of movies" class="movieItem">
      <img src="{{ movie.image }}" alt="{{ movie.title }}">
      <h3>{{ movie.title }}</h3>
      <p>{{ movie.genre }}</p>
      <p>{{ movie.year }}</p>
      <button (click)="addToWishlist(movie)">like</button>
  </div>
  

  <div *ngIf="!showMainList" class="movieList">
    <!-- Search Results -->
    <div *ngFor="let movie of filteredMovies" class="movieItem">
      <img src="{{ movie.image }}" alt="{{ movie.title }}">
      <h3>{{ movie.title }}</h3>
      <p>{{ movie.genre }}</p>
      <p>{{ movie.year }}</p>
      <button (click)="addToWishlist(movie)">like</button>
    </div>
  </div>
</div>
