<div *ngIf="movies">
  <div class="details">
    <div class="image">
      <h2>{{ movies.title }}</h2>
      <img [src]="movies.image" alt="{{ movies.title }}">
    </div>
    <div class="info">
      <p><strong>Genre:</strong> {{ movies.genre }}</p>
      <p><strong>Year:</strong> {{ movies.year }}</p>
      <p><strong>Language:</strong> {{ movies.language }}</p>
    </div>
  </div>
  <p><strong>Description:</strong> {{ movies.description }}</p>
  <hr>
  <video controls>
    <source [src]="movies.YTUrl" type="video/mp4">
  </video>
</div>
